.mainMenu__list {
  font-size: 1.8rem;
  color: var(--blue-lite);
  border-right: .2rem solid var(--blue-lite);
  padding-right: 2rem;
}
.mainMenu__item {
  line-height: 1;
  cursor: pointer;
  text-align: right;
  padding: 1rem;
  outline: 0;
  border-radius: 2rem;
  border: .1rem solid transparent;
  margin-bottom: .2rem;
}
.mainMenu__item:hover{
  border: .1rem solid  var(--blue-lite);
}
.mainMenu__item--active{
  background: var(--blue-lite);
  color: #fff;
}
