<div class="mainMenu__list">
  <div class="mainMenu__item">Voting portal</div>
  <div [routerLink]="['users']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Users manager</div>
  <div [routerLink]="['countries']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Countries managers</div>
  <div class="mainMenu__item" routerLinkActive="mainMenu__item--active">States managers</div>
  <div class="mainMenu__item" routerLinkActive="mainMenu__item--active">LGAs manager</div>
  <div class="mainMenu__item" routerLinkActive="mainMenu__item--active">Pooling units manager</div>
  <div class="mainMenu__item" routerLinkActive="mainMenu__item--active">Election manager</div>
  <div class="mainMenu__item" routerLinkActive="mainMenu__item--active">Users manager</div>
</div>
