<div class="mainMenu__list">
  <div [routerLink]="['vote']" class="mainMenu__item">Voting portal</div>
  <div [routerLink]="['vote-results']" class="mainMenu__item">Pools results</div>
  <div [routerLink]="['voter']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Manage voters</div>
  <div [routerLink]="['official']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Manage officials</div>
  <div [routerLink]="['countries']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Countries managers</div>
  <div [routerLink]="['states']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">States managers</div>
  <div [routerLink]="['lga']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">LGAs manager</div>
  <div [routerLink]="['unit']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Pooling units</div>
  <div [routerLink]="['elections']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Election manager</div>
  <div [routerLink]="['party']" class="mainMenu__item" routerLinkActive="mainMenu__item--active">Political Parties</div>
</div>
