<div class="modal vote__modal">
  <div class="modal__header">
    <div class="modal__title">E - Voting Portal</div>
    <div (click)="onClose()" class="modal__closeBtn">X</div>
  </div>
  <div class="modal__body">
    <div class="party" *ngFor="let party of parties">
      <div class="party__name">{{party.partyname}}</div>
      <div class="party__candidates">
        <div class="party__candidate" *ngFor="let candidate of party.candidates">
          <div class="election__name">{{candidate.electionname}}</div>
          <div class="election__candidate">{{candidate.candidatename}}</div>

          <div class="voter__id">
            <app-vote-modal (closeModal)="onClose()" [party]="party" [candidate]="candidate" [initData]="initData"></app-vote-modal>
            <!-- <div *ngIf="fingerprintTab" class="tab__content"></div> -->
          </div>
          <!-- <button class="btn btn-blue" type="button">
            Vote {{candidate.candidatename}}
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
