
<form class="modal" [formGroup]="partyForm" (ngSubmit)="onSubmit()">
  <div class="modal__header">
    <div class="modal__title">New Candidate</div>
    <div (click)="onClose()" class="modal__closeBtn">X</div>
  </div>
  <div class="modal__body">
    <div class="formItem">
      <label for="election">Election</label>
      <select formControlName="election">
        <option *ngFor="let election of elections" value="{{election._id}}">{{election.electionname}}</option>
      </select>
      
    </div>
    <div class="formItem">
      <label for="candidate">Candidate</label>
      <input type="text" formControlName="candidate">
    </div>
    <div class="auth__actions">
      <button [disabled]="loading" class="btn btn-blue" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>
  </div>
</form>
