<div class="table">
    <div class="thead">
      <div class="tr">
        <div class="th">Person</div>
        <div class="th">Age</div>
        <div class="th">Gender</div>
        <div class="th">Phone Number</div>
        <div class="th">Email Address</div>
        <div class="th"></div>
      </div>
    </div>

    <div class="tbody">
      <div *ngFor="let person of people; let i = index" class="tr">
        <div class="td td-user">
          <div class="td-img-wrap">
            <img src="">
          </div>
          <span>{{person.firstname}} {{person.lastname}}</span>
        </div>
        <div class="td">{{person.age}}</div>
        <div class="td">{{person.gender}}</div>
        <div class="td">{{person.phone}}</div>
        <div class="td">{{person.email}}</div>
        <div class="td td-actions dropdown-wrap">
          <button (click)="tblmenuitem_onclick(i)" class="btn-hollow btn-elipsis-v-center btn-x0"></button>
          <div class="dropdown-wrap">
            <ul (click)="tblmenuitem_onclick('')" *ngIf="item_to_show(i)" class="dropdown-menu">
              <li><img src="assets/icon-set/edit.svg"> Edit </li>
              <li><img src="assets/icon-set/trash.svg"> Delete</li>
              <li><img src="assets/icon-set/Duplicate.svg"> Duplicate</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
